*{
  margin: 0;
  padding: 0;
}

.logo{

}

.logo img {
  width : 60px;
  border-radius: 50%;
  padding-right: 10px;
}

.container{
  /*background-color: yellow;*/
  width : 50%;
  margin : auto;
  padding : 50px;
  font-family: 'Ubuntu', sans-serif;
}
nav{
  display: flex;
  background-color: black;
  color : white;
  align-items: center;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  height: 60px;
  font-size: 30px;
  padding: 7px;
}

.toolbar-item button{
  color : white !important;
  /*padding: 5px !important;*/
  cursor: pointer !important;
  border: 2px solid white!important;
  border-radius: 20px !important;
  font-size: 20px!important;
}